torch==2.1.2
torchvision==0.16.2
torchaudio==2.1.2
funasr==1.1.14
flash-attn==2.3.6
peft==0.13.2
diffusers==0.30.3
tokenizers==0.20.3
transformers==4.45.0
grouped_gemm==0.1.4
decord==0.6.0
# 语音依赖
hyperpyyaml
modelscope
onnxruntime
inflect
conformer
diffusers
lightning
gdown